body {
  background: #222222;
  font-family: sans-serif;
  font-size: 10px;
}
text {
  fill: white;
  pointer-events: none;
}
.caption text {
  fill: #3c3c3c;
  font-size: 2em;
}
.entry.selected circle.entry {
  fill: yellow;
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
}
.entry.selected g.connections path.selected {
  transition: 0.2s all linear;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  stroke: white;
  opacity: .5;
  z-index: 100;
}
.entry circle.entry {
  fill: #bbb;
}
.entry g.label {
  display: none;
}
.entry .connections path {
  fill: none;
  stroke: white;
  opacity: .05;
  pointer-events: none;
}
.axes .lines path {
  stroke: white;
  stroke-width: 2px;
  fill: none;
  opacity: .2;
}
.label line {
  stroke: orange;
}
