@colorBG: #222;

body {
	
	background: @colorBG;
	font-family: sans-serif;
	font-size: 10px;
	
}

text {
	
	fill: white;
	pointer-events: none;
	
}

.caption {
	
	text {
		
		fill: lighten( @colorBG, 10% );
		font-size: 2em;
		
	}
	
}

.selected {
	
	path {
		
		//stroke: red;
		
	}
	
}

.entry {
	
	&.selected {
		
		circle.entry {
		
			fill: yellow;
			.transition();
		}
		
		g.label {
			
			//display: block;
			
		}
		
	
	}
	
	g.connections {
		
		path.selected {
			
			.transition();
			stroke: white;
			opacity: .5;
			z-index: 100;
			
		}
	}
	
	circle.entry {
		
		fill: #bbb;
		
	}
	
	g.label {
		
		display: none;
		
	}
	
	.connections {		
			
		path {
			
			fill: none;
			stroke: white;
			opacity: .05;
			pointer-events: none;
			
		}
		
	}
}

.axes {
	
	.lines {
		
		path {
			
			stroke: white;
			stroke-width: 2px;
			fill: none;
			opacity: .2;
			
		}
		
	}
	
}

.label {
	
	pointer-events: none;
	
	line {
		
		stroke: orange;
		
	}
	
}

.transition( @duration: .2s, @property: all, @easing: linear ) {
	
	transition: @duration @property @easing;
	-webkit-transition: @duration @property @easing;
	-moz-transition: @duration @property @easing;
	-o-transition: @duration @property @easing;
	
}