@colorBG: #222;

body {
	
	background: @colorBG;
	
}


.selected {
	
	path {
		
		//stroke: red;
		
	}
	
}

.entry {
	
	&.selected {
		
		circle.entry {
		
			fill: yellow;
			.transition();
		}
	}
	
	circle.entry {
		
		fill: #bbb;
		
	}
	
	.connections {		
			
		path {
			
			fill: none;
			stroke: white;
			opacity: .1;
			pointer-events: none;
			
		}
		
	}
}


.transition( @duration: .2s, @property: all, @easing: linear ) {
	
	transition: @duration @property @easing;
	-webkit-transition: @duration @property @easing;
	-moz-transition: @duration @property @easing;
	-o-transition: @duration @property @easing;
	
}