body {
  background: #222222;
}
.entry.selected circle.entry {
  fill: yellow;
}
.entry circle.entry {
  fill: #bbb;
}
.entry .connections path {
  fill: none;
  stroke: white;
  opacity: .1;
  pointer-events: none;
}
